body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(1100px, 90%);
  margin-inline: auto;
}

.section {
  padding-block: 80px;
}

.section--dark {
  background-color: #1f2937;
  color: #f9faf8;
}

.section--muted {
  background-color: #e5e7eb;
}

nav {
  padding: 0;
  display: flex;
  gap: 17px;
  list-style: none;
}

a,
p {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin: 0;
}

h4 {
  color: #f9faf8;
  font-size: 24px;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 550px;
  height: 225px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  border: none; /* removes border */
  outline: none; /* removes blue outline when focused */
  background-color: #3882f6; /* your button color */
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
  align-self: flex-start;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info img {
  border: #3882f6;
  border-radius: 5%;
}

.items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;
}

.item {
  width: 10px;
}
