body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 0;
  display: flex;
  gap: 17px;
  list-style: none;
}

a,
p {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

h4 {
  color: #f9faf8;
  font-size: 24px;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 350px;
  height: 175px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-hero,
.right-hero {
}

button {
  border: none; /* removes border */
  outline: none; /* removes blue outline when focused */
  background-color: #3882f6; /* your button color */
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
}
